---
alternates:
  - language: es
    uri: /es
bodyclass: index
language: ru
meta:
  author: Антигрипп
  description: средство против плесени и грибка
  keywords: против плесени грибка грибок плесень средство плесневение сырость избавиться
  robots: index, follow
scripts:
  - js/bootstrap.min.js
  - typescript/index.ts
stylesheets:
  - scss/index.scss
title: Антигрипп – избавьтесь от плесени навсегда
uri: /
activeMenu: Home
---
{{#extend "landing_base"}}
  {{#content "main"}}
    <main>
      <div class="section page-1 pt-0" id="home">
        <div class="container-fluid position-relative m-0 p-0 vh-100">
          <div class="before" data-direction="down" data-speed="0.35"></div>
          <img src="images/cement-thumbnail.jpg" style="filter: blur(2px);" data-src="images/cement-x640.jpg" alt="" class="full-width-img vh-100 position-fixed img-blurred" data-direction="up" data-speed="0.1">
          <div class="box-container width-100 position-absolute d-flex flex-column justify-content-between pr-0 pr-sm-5">
            <div class="container vh-100 position-relative">
              {{#block menu}}
                <header class="main-header">
                  <div class="logo-text"><span class="accent">Антигрипп</span></div>
                  <div class="socials">
                    <a href="https://www.facebook.com/____" target="_blank" class="social icoFacebook"
                       title="Facebook"><i class="fab fa-facebook-square faa-flash animated-hover"></i></a>
                    <a href="https://twitter.com/____" class="social icoTwitter" target="_blank"
                       title="Twitter"><i class="fab fa-twitter faa-flash animated-hover"></i></a>
                    <a href="https://linkedin.com/company/____" class="social icoLinkedin"
                       target="_blank"
                       title="Linkedin"><i class="fab fa-linkedin faa-flash animated-hover"></i></a>
                  </div>
                </header>
                <nav class="navbar navbar-light bg-light">
                  <div class="navbar" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <nav class="nav navbar-dark">
                        <a class="nav-link" data-scrollto="home">Главная</a>
                        <a class="nav-link" data-scrollto="fungus">О плесени</a>
                        <a class="nav-link" data-scrollto="advantages">Преимущества</a>
                        <a class="nav-link" data-scrollto="makeOrder">Заказать</a>
                        <a class="nav-link" data-scrollto="delivery">Доставка</a>
                        <a class="nav-link" data-scrollto="contacts">О нас</a>
                      </nav>
                    </ul>
                  </div>
                </nav>
              {{/block}}
              <div class="box-container vh-70 d-flex flex-row justify-content-end">
                <div class="row">
                  <div class="col-12 col-md-6 mb-3">
                    <img src="images/stop-fungus-logo.png" alt="">
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <h4><span class="accent">Антигрипп</span> – избавьтесь от плесени навсегда</h4>
                  </div>
                </div>
              </div>
              {{> scroll_to_page to="fungus"}}
            </div>
          </div>
        </div>
      </div>
      <div class="section page-2 dark-on-light position-relative" id="fungus">
        <div class="container d-flex flex-column justify-content-center vh-sm-100 py-5">
          <div class="d-flex flex-row justify-content-start text-left">
            <div class="d-flex flex-column justify-content-start align-items-center">
              <div class="greeting-box mb-4 mb-sm-5">
                <div>ЧЕМ ОПАСНА ПЛЕСЕНЬ</div>
              </div>
              <div class="row">
                <div class="col-12 col-md-4 mb-3">
                  <p><span class="shadow-accent">Плесень это сверстник Земли, ей 200 миллионов лет. Человек уже не одну тысячу лет ведет неравную борьбу с ней и только сейчас в его распоряжении появилось реальное оружие против плесени.</span></p>
                </div>
                <div class="col-12 col-md-4 mb-3">
                  <p>Плесень это неприятный и опасный враг, она выделяет токсичные споры, которые очень опасны для здоровья человека, особенно для ослабевшего организма со сниженным иммунитетом. Она может привести к таким заболеваниям, как аллергия, мигрень, отит, бронхит, ринит, астма и туберкулез.</p>
                </div>
                <div class="col-12 col-md-4 mb-3">
                  <p>Плесень — это видимый налёт, который образуют микроскопические плесневые грибы. Они вездесущи: могут расти на любых материалах и в любых условиях. Плесень появляется не только на поверхности предметов, но и проникает нитями грибницы внутрь них, так что от нее не возможно избавиться традиционными средствами.</p>
                </div>
              </div>
              <div class="row width-100">
                <div class="col-12 text-center">
                  <span class="shadow-accent">С покрытием Антигрипп, Вы можете поставить жирную точку в этой борьбе. Вы победите!</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section page-3 light-on-dark position-relative" id="advantages">
        <div class="container py-5">
          <div class="d-flex flex-row justify-content-start text-left">
            <div class="greeting-box mb-4 mb-sm-5">
              <div class="title bottom-line">ОСНОВНЫЕ ПРЕИМУЩЕСТВА АНТИГРИППА</div>
            </div>
          </div>
          <div class="box-container justify-content-around">
            <div class="row width-100 text-left">
              <div class="col-12 col-md-6 py-3">
                <div class="big white-accent pb-3">Практические <span class="accent">преимущества</span></div>
                <ul>
                  <li>реально помогает на все 100%</li>
                  <li>наносится на поверхность с любой кривизной</li>
                  <li>легкая подготовка поверхности к нанесению Антигриппа</li>
                  <li>покрытие Антигрипп может являться финишным покрытием и не нуждается в дополнительной окраске</li>
                  <li>огнебезопасно</li>
                  <li>экологически чисто</li>
                </ul>
              </div>
              <div class="col-12 col-md-6 py-3">
                <div class="big white-accent pb-3">Эстетические <span class="accent">преимущества</span></div>
                <ul>
                  <li>покрытие не нуждается в постоянном уходе и дополнительной обработке</li>
                  <li>легко наносится на поверхность</li>
                  <li>приятная фактура</li>
                  <li>приятно на ощупь</li>
                  <li>легко колеруется в нужный цвет</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section page-3 dark-on-light position-relative" id="makeOrder">
        <div class="container py-5">
          <div class="d-flex flex-row justify-content-start text-left">
            <div class="greeting-box mb-4 mb-sm-5">
              <div class="title bottom-line">Сделайте заказ сейчас</div>
            </div>
          </div>
          <div class="box-container justify-content-around">
            <div class="row width-100 text-left">
              <div class="col-12 col-md-4 py-3">
                <div class="big white-accent pb-3">ФОРМА ЗАКАЗА</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section page-4 position-relative light-on-dark p-0 m-0" id="delivery">
        <div class="container py-5">
          <div class="d-flex flex-row justify-content-start text-left">
            <div class="greeting-box mb-4 mb-sm-5">
              <div class="title bottom-line">Доставка</div>
            </div>
          </div>
          <div class="row width-100">
            <div class="col-12 text-center">
              <p class="accent">___</p>
              <p>__</p>
              <p>_______</p>
            </div>
            <div class="col-12 col-sm-6">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem, dignissimos fugit harum, incidunt inventore magnam molestiae nisi optio quia sed veniam voluptate. Aliquam amet harum quasi sequi, ullam veritatis.
            </div>
            <div class="col-12 col-sm-6">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi id quisquam ut. Aperiam aspernatur assumenda consequatur dolor, doloribus eius eum eveniet hic officiis perferendis, perspiciatis placeat praesentium quaerat quod similique!
            </div>
          </div>
        </div>
      </div>
      <div class="section page-5 position-relative dark-on-light py-5 m-0" id="contacts">
        <div class="container py-2">
          <div class="d-flex flex-row justify-content-start text-left">
            <div class="greeting-box mb-4 mb-sm-5">
              <div class="title bottom-line">Контакты</div>
            </div>
          </div>
          <div class="row width-100 pb-4">
            <div class="col-8">
              <p class="h5 accent">Общая информация</p>
            </div>
          </div>
          <div class="row width-100">
            <div class="col-8">
              <p>
                КОМПАНИЯ<br/>
                АДРЕС<br/>
                АДРЕС 2<br/>
                <a class="accent" href="mailto:email@email.com">email@email.com</a>
              </p>
            </div>
            <div class="col-4">
              <div><a href="https://www.facebook.com/___" target="_blank"
                      class="social icoFacebook" title="Facebook"><i class="fab fa-facebook-square faa-flash animated-hover"></i>&nbsp;<span class="d-none d-sm-inline">Facebook</span></a></div>
              <div><a href="https://twitter.com/___" class="social icoTwitter" target="_blank"
                      title="Twitter"><i class="fab fa-twitter faa-flash animated-hover"></i>&nbsp;<span class="d-none d-sm-inline">Twitter</span></a></div>
              <div><a href="https://linkedin.com/company/___" class="social icoLinkedin"
                      target="_blank" title="Linkedin"><i class="fab fa-linkedin faa-flash animated-hover"></i>&nbsp;<span class="d-none d-sm-inline">LinkedIn</span></a></div>
            </div>
          </div>
          <div class="row width-100">
            <div class="col-6 col-lg-3 py-5">
              <figure class="figure"><img src="images/cement-thumbnail.jpg" data-src="images/cement-x1920.jpg" alt="" class="float-left img-blurred">
              </figure>
              <p class="accent"><strong>Тарас Бульба</strong></p>
              <p>
                голова<br/>
                email@email.com<br/>
                <a href="tel:+380670000000">+380 67 000 0000</a>
              </p>
            </div>
            <div class="col-6 col-lg-3 py-5">
              <figure class="figure"><img src="images/cement-thumbnail.jpg" data-src="images/cement-x1920.jpg" alt="" class="float-left img-blurred">
              </figure>
              <p class="accent"><strong>Тарас Бульба</strong></p>
              <p>
                голова<br/>
                email@email.com<br/>
                <a href="tel:+380670000000">+380 67 000 0000</a>
              </p>
            </div>
            <div class="col-6 col-lg-3 py-5">
              <figure class="figure"><img src="images/cement-thumbnail.jpg" data-src="images/cement-x1920.jpg" alt="" class="float-left img-blurred">
              </figure>
              <p class="accent"><strong>Тарас Бульба</strong></p>
              <p>
                голова<br/>
                email@email.com<br/>
                <a href="tel:+380670000000">+380 67 000 0000</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="box-container">
          <div class="width-100 d-flex flex-column justify-content-center">
            <div class="p-2">
              <p class="back-to-top">
                <a data-scrollto="home">
                  <span class="scroll-up-btn"></span>
                  <span class="accent-white">наверх</span>
                </a>
              </p>
            </div>
            <div class="p-2 pb-3">
              <h4 class="text-center accent-white">Благодарим вас за ваше внимание</h4>
            </div>
            <div class="p-2 pb-3">
              <div class="footer-social">
                <a href="https://www.facebook.com/____" target="_blank"
                   class="social icoFacebook"
                   title="Facebook"><i class="fab fa-facebook-square faa-flash animated-hover"></i></a>
                <a href="https://twitter.com/____" class="social icoTwitter" target="_blank"
                   title="Twitter"><i class="fab fa-twitter faa-flash animated-hover"></i></a>
                <a href="https://linkedin.com/company/____" class="social icoLinkedin "
                   target="_blank"
                   title="Linkedin"><i class="fab fa-linkedin faa-flash animated-hover"></i></a>
              </div>
            </div>
            <p class="text-center mb-5 pb-3">
              АДРЕСА,
              <br class="rwd-break"/>
              АДРЕС
            </p>
          </div>
        </div>
      </div>
    </footer>
        <noscript>
          <img src="images/stop-fungus-logo.png" data-src="images/stop-fungus-logo.png">
          <img src="images/cement-x640.jpg" data-src="images/cement-x640.jpg">
        </noscript>

  {{/content}}
{{/extend}}
